.container_Logo {
    width: 200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .ImageLogo {
        width: 100%;
        user-select: none;
    }
}
